* {
    margin: 0;
    padding: 0;

}


body {
    font-family: system-ui;

}

h1 {
    text-align: center;
    color: white;
}

header {
    background-image: linear-gradient(to bottom right, #ff7402, rgb(255, 238, 0)  );
    background-repeat: no-repeat;
}

/* margin = the space around an element's border */
/* padding = the space between an element's border and the element's content */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

li {
    float: left
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(255, 0, 0);
}

#dojo {
    transform: translate(120px,240px);
}

