* {
    margin: 0;
    padding: 0;

}


body {
    font-family: system-ui;
    background-image: linear-gradient(to bottom right, #9710e6, #541a54 );
    background-position: 100px;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: white;
}


/* margin = the space around an element's border */
/* padding = the space between an element's border and the element's content */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    background-color: purple;
    overflow: hidden;
}

li {
    float: left
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: grey;
}

#dojo {
    transform: translate(120px,240px);
}