* {
    margin: 0;
    padding: 0;

}


body {
    font-family: system-ui;
}

h1 {
    text-align: center;
    color: white;
}

header

/* margin = the space around an element's border */
/* padding = the space between an element's border and the element's content */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    background-color: purple;
    overflow: hidden;
}

li {
    float: left
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: grey;
}

#dojo {
    transform: translate(120px,240px);
}